.room-on{
  fill: rgb(243, 247, 7);
}

.room-off{
  fill: rgb(13, 13, 40); 
}

.image{
  height:auto; background-size:cover; width:auto;
  background-image:url('../../../assets/back.jpg');/* 'https://img.freepik.com/free-photo/lightbulbs-blue-background-idea-concept_104033-53.jpg?size=626&ext=jpg&ga=GA1.2.1575438770.1600300800'); */
  background-position:50% 50%;
} 