<img src="../../assets/sh.png" class="img-fluid" alt="Responsive image">
<div class="container">
  <div class="row">
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center" style="margin: 100px">
      <h1 style="color: #FFFFFF">iHome 12 Pro Max</h1>
      <h2 style="margin-bottom: 50px">Manten el orden y la seguridad de tu casa con esta aplicación</h2>
      <h3> Realiza labores como:<br>
        -Apagar las luces.<br>
        -Monitorear puertas.<br>
        -Obten capturas de lo que sucede en tu hogar.<br></h3>

    </div>

    <!--Columna con la Informacion de Inicio de Sesion-->
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="margin: 25px">
      <!-- El card enmarca una zona de informacion-->
      <div class="card border-info" style="max-width: 20rem; margin-bottom: 20px">
        <div class="card-body text-center">
          <h5 class="card-title" style="margin:25px">Inicio de Sesión</h5>
          <h6 class="card-subtitle mb-2 text-muted">Usuario</h6>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input [(ngModel)]="username" type="text" name="user" required>
          </div>
          <show-hide-password  size="lg" btnStyle="primary" [btnOutline]="false">
            <input [(ngModel)]="password" type="password" name="password" required >
          </show-hide-password>

          <button (click)="logIn()" type="button" id="button_login"
            class="btn btn-success">LogIn</button>
        </div>
      </div>
    </div>
  </div>
</div>