
<div class="image">

  <div style="padding-top: 10%; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;" >

    <svg xmlns="http://www.w3.org/2000/svg" width="700px" height="600px">
      
      <g>
        <rect style="fill:darkgray" x="0" y="0" width="640" height="430"/>	
      </g> 

      <g *ngFor = "let room of rooms | keyvalue">
        <rect [attr.class]="room.value.class" [attr.x]="room.value.x" [attr.y]="room.value.y" [attr.width]="room.value.width" [attr.height]="room.value.height" (click)="roomClick(room.value)"/>
        <text [attr.y]="room.value.y+(room.value.height/2)" [attr.x]="room.value.x+(room.value.width/2)" dominant-baseline="middle" text-anchor="middle">
          <tspan font-weight="bold" fill="white">{{room.key}}</tspan>
        </text>		
      </g>

      <g *ngFor = "let door of doors | keyvalue">
        <rect style="fill:rgb(247, 5, 5)" [attr.x]="door.value.x" [attr.y]="door.value.y" [attr.width]="door.value.width" [attr.height]="door.value.height"/>	
      </g>  

    </svg>

  </div>
</div>